.form__button{
    width: 277px;
    height: 44px;
    background: #007AFF;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 14px;
    line-height: 19px;
    font-family: Open Sans;
    transition: opacity .4s;
}

.form__button:hover {
    opacity: .7;
  }

@media screen and (max-width:400px) {
    .form__button{
        width: 240px;
    }
}

